.cart {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart__top {
    display: flex;
}

.cart__left {
    flex: .8;
}

.cart__products {
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

