.products {
    width: 100%;
}

.products__category {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    background: black;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.category__name {
    color: black;
}

.products__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}


@media (max-width: 1449px) {
    .products__category {
        display: none;
    }
}