.toolbar{
    top: 0;
    left: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    background: black;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar__logo {
    display: flex;
    margin-left: 1rem;
}

.toolbar__logo > img {
    width: 150px;
    object-fit: contain;
    margin-left: 6rem;
}

.toolbar__logo > a > img {
    width: 150px;
    margin-left: 50px;
}

.toggle__button {
    margin-left: 10px;
}

.toolbar__navigation__items{
    display: flex;
    align-items: center;
    margin-left: 20%;
}


.toolbar__navigation__items a {
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 20px;
}

.toolbar__navigation__items a:hover,
.toolbar__navigation__items a:active {
    color: hotpink;
}

.toolbar__cart {
    display: flex;
    width: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.toolbar__cart > a:hover {
    color: hotpink;
}

.toolbar__cart > a {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
}

.toolbar__cart > p {
    margin: 0 2px;
}

@media (max-width: 1024px) {
    #paypal {
        display: none;
    }
    
}

@media (max-width: 768px) {
    .toolbar__navigation__items{
        display: none
    }
}


@media (min-width: 1449px) {
    .toggle__button {
        display: none;
    }

    .toolbar__logo{
        margin: 5px;
    }
}