.ad {
    border: 1px solid teal;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: 100px;
}

.ad__image > img {
    width: 60%;
}

.ad > h5 {
    margin: 0;
}

.ad__rating > p {
    margin: 0;
}

.ad__link > p {
    margin: 0;
    font-size: 12px;
}