.dashboard {
    margin-top: 56px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.dashboard > form {
    padding: 10px;
}

.dashboard__inventory {
    width: 200px;
    padding: 10px;
    overflow: scroll;
    border: 1px solid purple;
}

.dashboard__category {
    position: fixed;
}

.dashboard__product {
    padding: 20px;
}

.dashboard__inventory::-webkit-scrollbar{
    display: none;
}