.cartProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    max-width: 200px;
    height: 320px;
}

.cartProduct > button {
    background-color: hotpink;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 20px;
    border-color: hotpink, teal, purple;
    outline: none;
}

.cartProduct__title {
    max-width: 150px;
    text-align: center;
}

.cartProduct__image {
    display: flex;
    justify-content: center;
}

.cartProduct__image > img {
    width: 40%;
    max-width: 250px;
    min-width: 150px;
   
}

.cartProduct__rating {
    display: flex;
}

.spacer {
    flex: 1;
}